---
import { Breadcrumbs } from "astro-breadcrumbs";
import "../styles/global.css";
import "../styles/astro-breadcrumbs-config.scss";


---
<div class="breadcrumb-wrapper">
  <div class="breadcrumb-bg">
    <div class="layer layer-primary"></div>
    <div class="layer layer-secondary"></div>
    <div class="layer layer-white"></div>
  </div>
  <div class="breadcrumb-content">
    <Breadcrumbs />
  </div>
</div>