---
import { Image } from 'astro:assets';
import "../styles/global.css";
import { Picture } from 'astro:assets';

const { image, text, altText = "Image", className = "" } = Astro.props;
---

<div class={`relative p-[4px] rounded-md ${className}`} style="background: linear-gradient(135deg, var(--color-primary) 40%, var(--color-secondary) 100%)">
    <div class="flex flex-col md:flex-row items-center bg-white bg-opacity-80 rounded-md justify-between">
        <Picture 
            src={image} 
            alt={altText} 
            class="w-full md:w-1/2 h-auto object-contain mb-4 md:mb-0"  
            width={100}
            height={100}
            loading={"lazy"}
            format="webp" 
        />
        <div class="md:ml-6 text-center md:text-left p-5">
            <p class="text-lg md:text-xl font-semibold text-gray-800">{text}</p>
        </div>
    </div>
</div>