---
import BreadCrumb from "../components/BreadCrumb.astro";
import GlobalLayout from "./GlobalLayout.astro";


---

<GlobalLayout
    title="Blog - PixelPerfect"
    button={false}
    faq={false}>
    <div slot="breadcrumb">
        <BreadCrumb />
    </div>
    <div slot="content">
        <slot name="blog-content" />
    </div>
</GlobalLayout>