---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import logo from '../../public/images/logo.png';


const { title = "PixelPerfect" } = Astro.props;
---
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/images/logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header>
            <slot name="navbar" />
            <Navbar
                links={[
                    { label: "Accueil", href: "/" },
                    { label: "À propos", href: "/about" },
                    { label: "Blog", href: "/blog" },
                    { label: "Services", href: "/services" },
                    { label: "Contact", href: "/contact" }
                ]}
                logo={logo}
                logoAlt="PixelPerfect Logo"
                />
        </header>
        <main class="mx-auto my-5 max-w-7xl px-4 sm:px-6 lg:px-8 w-full">
            <slot name="content"/>
        </main>
        <footer>
            <slot name="footer" />
        </footer>
    </body>
</html>